body {
    font: 1em "Helvetica", sans-serif;
    line-height: 1.4;
    font-weight: 200;
}

.wrapper {
    margin-left: 50px;
}

.nav-side {
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    margin-left: -250px;
    transition: margin 400ms ease-in-out;
}

.nav-side.nav-open {
    margin-left: 0;
}

.nav-toggle {
    position: absolute;
    right: -40px;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: cornflowerblue;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    
}

.nav-toggle:before {
    content:"\2192";
    font-weight: 600;
    color: #fff;
}

.nav-side.nav-open .nav-toggle:before {
    content: "\2190";
}

/* Style the links inside the navigation bar 
    .nav-side-links a {
        color: #000;
        text-align: center;
        float: left;
        clear: left;
        padding: 5px;
        text-decoration: none;
        font-size: 40px;
        margin: 5px;
        margin-left: 200px;

        &:nth-of-type(1) {
            margin-top: 100px;
        }
    }
    .nav-side-links a:hover {
        background-color: white;
        color: black;
    }
    */


    /*
    .nav-side-links a.active {
        background-color: #4CAF50;
        color: white;
    }
    */